<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>VoiceMemoPro needs access to the microphone to record voice memos.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>VoiceMemoPro needs access to speech recognition to transcribe your voice memos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>VoiceMemoPro uses your location to tag recordings with where they were made, helping you organize and find them on the map.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.voicememo.newrecording</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Recording</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Start recording immediately</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCaptureVideo</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>voicememopro</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
